@section css
{
    <link href="~/content/codemirror.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/scripts/codemirror/codemirror.js"></script>
    <script src="~/scripts/codemirror/codemirror-intellisense.js"></script>
    <script src="~/scripts/codemirror/codemirror-compiler.js"></script>
    <script src="~/scripts/codemirror/mode/fsharp.js"></script>
    <script>
        $(function ()
        {
            var editor = CodeMirror(document.getElementById('editor'),
			{
			    value: "let x = 1",
                mode: 'fsharp',
                lineNumbers: true
			});
            editor.focus();

            // request compilation information from the server
            editor.compiler = new Compiler(editor, function (callback)
            {
                var url = '/api/compile';
                var postData = { source: editor.getValue() };
                $.post(url, postData, function (data)
                {
                    callback(data);
                });
            });

            // request declarations from the server
            editor.intellisense = new Intellisense(editor, function (position, callback)
            {
                var url = '/api/intellisense';
                var postData = { lineNumber: position.line + 1, colIndex: position.ch, source: editor.getValue() };
                $.post(url, postData, function (data)
                {
                    callback(data);
                });
            }, function (position, callback)
            {
                var url = '/api/methods';
                var postData = { lineNumber: position.line + 1, colIndex: position.ch - 1, source: editor.getValue() };
                $.post(url, postData, function (data)
                {
                    callback(data);
                });
            });
        });
    </script>
}

<h1>CodeMirror - WebAPI</h1>
<div id="editor"></div>