@section scripts
{
    <script src="~/scripts/ace/ace.js"></script>
    <script src="~/scripts/ace/ext-language_tools.js"></script>
    <script src="~/scripts/ace/ext-intellisense.js"></script>
    <script src="~/scripts/ace/ext-compiler.js"></script>
    <script src="~/scripts/ace/mode-fsharp.js"></script>
    <script src="~/scripts/ace/mode-javascript.js"></script>
    <script>
        $(function ()
        {
            // setup the ACE editor with fsharp mode
            var editor = ace.edit('editor');
            editor.getSession().setMode("ace/mode/fsharp");
            editor.focus();

            // get an instance of the Intellisense object
            var Intellisense = ace.require('ace/intellisense').Intellisense;
            var Compiler = ace.require('ace/compiler').Compiler;

            // request compilation information from the server
            editor.compiler = new Compiler(editor, function (callback)
            {
                var url = '/api/compile';
                var postData = { source: editor.getValue() };
                $.post(url, postData, function (data)
                {
                    callback(data);
                });
            });

            // request declarations from the server
            editor.intellisense = new Intellisense(editor, function (callback, position)
            {
                var url = '/api/intellisense';
                var postData = { lineNumber: position.row + 1, colIndex: position.column, source: editor.getValue() };
                $.post(url, postData, function (data)
                {
                    callback(data);
                });
            });
        });
    </script>
}

<h1>ACE - WebAPI</h1>
<div id="editor" style="border: 1px solid black;"></div>